<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>StreamWorld</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/anime.css">
      <link rel="shortcut icon" href="../../public/media/239e441794f6b6d5e49abdcccdcff298.jpg" type="image/x-icon">

</head>
<body>
<a class="exercise-home-link" href="home.html">Home</a>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="anime.html">StreamWorld</a>
    <img class="lanavvi navbar-toggler-icon" src="../../public/media/Logo-Banner-Anime-T-shirt-bianco.webp" alt="Logo StreamWorld">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="anime.html">Home Saturn</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.animesaturn.cx/anime/La-citta-incantata-ITA-aa">Film</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.animesaturn.cx/anime/Gurren-Lagann-a">Serie</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- HERO SECTION -->
<section class="hero text-white">
  <div>
    <h1>Guarda i tuoi Anime preferiti</h1>
    <p>Film e Anime in streaming</p>
    <a class="btn btn-danger" href="https://www.animesaturn.cx/anime/Chainsaw-Man---The-Movie-Reze-Arc-ITA-a">Inizia ora</a>
  </div>
</section>

<!-- CONTENUTI -->
<div class="container mt-5">

  <h3 class="mb-4">Popolari</h3>
  <div class="row">
    <!-- CARD 1 -->
    <div class="col-md-3 mb-4">
      <a class="text-decoration-none" href="https://www.animesaturn.cx/anime/Vinland-Saga-2-ITA-aaaaaaaaaaa"><div class="card">
          <img src="../../public/media/Solo leveling.gif" class="card-img-top" alt="Vinland Saga">
          <div class="card-body">
              <h5 class="card-title text-white-50 text-decoration-none">Vinland Saga: Stagione 2</h5>
            </div>
        </div>
        </a>
    </div>

    <!-- CARD 2 -->
    <div class="col-md-3 mb-4">
      <a class="text-decoration-none" href="https://www.animesaturn.cx/anime/Frieren-Beyond-Journeys-End-2"><div class="card">
        <img src="../../public/media/frieren.gif" class="card-img-top" alt="Frieren">
        <div class="card-body">
          <h5 class="card-title text-white-50 text-decoration-none">Frieren: Stagione 2</h5>
        </div>
        </div>
        </a>
    </div>

    <!-- CARD 3 -->
    <div class="col-md-3 mb-4">
      <a class="text-decoration-none" href="https://www.animesaturn.cx/anime/Jujutsu-Kaisen-3"><div class="card">
        <img src="../../public/media/gojo.gif" class="card-img-top" alt="Jujutsu Kaisen">
        <div class="card-body">
          <h5 class="card-title text-white-50 text-decoration-none">Jujutsu Kaisen: Stagione 3</h5>
        </div>
        </div>
        </a>
    </div>

    <!-- CARD 4 -->
    <div class="col-md-3 mb-4 ">
      <a class="text-decoration-none" href="https://www.animesaturn.cx/anime/Devil-May-Cry-2025-2"><div class="card">
        <img src="../../public/media/dante.gif" class="card-img-top" alt="Devil May Cry">
        <div class="card-body">
          <h5 class="card-title text-white-50 text-decoration-none">Devil May Cry: Stagione 2</h5>
        </div>
      </div>
       </a>
    </div>
  </div>

  <h3 class="mb-4">Film</h3>
  <div class="row">
    <div class="col-md-2 mb-3">
      <div class="card border border-danger">
        <img class="rounded" src="../../public/media/la città incantata.gif" alt="La città incantata">
        <div class="card-body p-2">
          <h6 class="card-title text-white-50 text-center mb-0">La città incantata</h6>
        </div>
      </div>
    </div>

    <div class="col-md-2 mb-3">
      <div class="card border border-danger">
        <img class="rounded" src="../../public/media/film entei.gif" alt="Pokémon 3">
        <div class="card-body p-2">
          <h6 class="card-title text-white-50 text-center mb-0">Pokémon 3: Il Mistero degli Unown</h6>
        </div>
      </div>
    </div>

    <div class="col-md-2 mb-3">
      <div class="card border border-danger">
        <img class="rounded" src="../../public/media/film reze.gif" alt="Chainsaw Man: Reze Arc">
        <div class="card-body p-2">
          <h6 class="card-title text-white-50 text-center mb-0">Chainsaw Man: Reze Arc</h6>
        </div>
      </div>
    </div>

    <div class="col-md-2 mb-3">
      <div class="card border border-danger">
        <img class="rounded" src="../../public/media/gurren-lagann-simon.gif" alt="Gurren Lagann">
        <div class="card-body p-2">
          <h6 class="card-title text-white-50 text-center mb-0">Gurren Lagann</h6>
        </div>
      </div>
    </div>

    <div class="col-md-2 mb-3">
      <div class="card border border-danger">
        <img class="rounded" src="../../public/media/broly.gif" alt="Dragon Ball Super: Broly">
        <div class="card-body p-2">
          <h6 class="card-title text-white-50 text-center mb-0">Dragon Ball Z: Il Super Saiyan della Leggenda</h6>
        </div>
      </div>
    </div>

    <div class="col-md-2 mb-3">
      <div class="card border border-danger">
        <img class="rounded" src="../../public/media/naruto.gif" alt="Naruto">
        <div class="card-body p-2">
          <h6 class="card-title text-white-50 text-center mb-0">Naruto: Road to Ninja</h6>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- FOOTER -->
<footer class="bg-dark text-center p-4 mt-5">
  <p>© 2026 StreamWorld Anime - Tutti i diritti riservati</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
