:root{
    --main: #1649ae;
    --sec: #202125;
    --cont: #ec413b;
    --third: aliceblue;
    --light: #ffcc00;
}

* {
    font-family: "Space Grotesk", sans-serif;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-family: "Audiowide", sans-serif;
}

p{
    margin: 0px;
    padding: 0px;
}

.text-main{
    color: var(--main) !important;
}

.bg-main{
    background-color: var(--main);
}

.text-sec{
    color: var(--sec);
}

.bg-sec{
    background-color: var(--sec);
}

.text-cont{
    color: var(--cont);
}

.bg-cont{
    background-color: var(--cont);
}

.up-navbar{
    min-height: 50px;
}

.fs-nav-link{
    font-size: 20px;
}
